System:  {{ansible_lsb.description}}
IP:      {{server_ip}}
Domain: {{ domain }}
________________________________________
SSH
####
####
________________________________________
DB for SkaDate
DB name: {{db_user_name}}
User: {{db_user_name}}
Pass: {{ mysql_user_pass }} 
________________________________________
PhpMyAdmin
http://{{server_ip}}/phpmyadmin/
User: admin
Pass: {{ mysql_admin_pass }}
________________________________________
FTP
HostName: {{server_ip}}
Username: ftpuser
Password: {{ ftp_pass }}
