System:  {{ansible_lsb.description}}
IP:      {{ansible_enp0s3.ipv4.address}}
Domain: {{ domain }}
________________________________________
SSH
####
####
________________________________________
DB for SkaDate
DB name: {{db_user_name}}
User: {{db_user_name}}
Pass: {{ mysql_user_pass }} 
________________________________________
PhpMyAdmin
http://{{ansible_enp0s3.ipv4.address}}/phpmyadmin/
User: admin
Pass: {{ mysql_admin_pass }}
________________________________________
FTP
HostName: {{ansible_enp0s3.ipv4.address}}
Username: ftpuser
Password: {{ ftp_pass }}
